/* mobile 375px */
@media screen and (max-width: 376px) {
  .home_container {
    max-width: 100%;
  }

  /* header */
  .home_header {
    padding: 20px 20px;
  }

  .home_header::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ebebeb;
    z-index: -1;
  }

  /* main */
  .grid_container {
    padding: 20px 19px 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* card */
  .card1 {
    order: 1;
  }
  .card4 {
    order: 2;
  }
  .card2 {
    order: 3;
  }
  .card3 {
    order: 4;
  }
  .card6 {
    order: 5;
  }
  .card7,
  .card8 {
    display: none;
  }

  /* card1 */
  .card1 .contents_wrapper {
    padding: 87px 30px 30px;
  }

  .card1 .card1_heading {
    margin: 20px auto 77px;
    font-size: 26px;
  }

  .card1 .card1_txt {
    display: none;
  }

  /* card2 */
  .card2 .contents_wrapper {
    padding: 30px 66px 21px 0px;
  }

  /* card3 */
  .card3 .contents_wrapper {
    padding: 37px 28px 40px 25px;
  }

  .card3 .card3_heading {
    font-size: 26px;
    line-height: 40px; /* 153.846% */
    letter-spacing: -0.382px;
  }

  /* card6 */
  .card6 .contents_wrapper {
    padding: 30px 66px 21px 0px;
  }

  /* footer */
  .footer_wrapper {
    padding: 40px 55px 62px 21px;
    flex-wrap: wrap;
    gap: 0;
  }

  .footer:nth-child(1) {
    order: 0;
    margin-bottom: 20px;
  }
  .footer:nth-child(2) {
    order: 2;
  }
  .footer:nth-child(3) {
    order: 1;
    margin-bottom: 30px;
  }

  .footer_wrapper .footer_contact_wrap {
    width: 300px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 25px;
  }

  .footer_wrapper .footer_nav_list {
    width: 231px;
  }

  .footer_nav_list li {
    flex-basis: calc(100% / 2);
    margin-bottom: 17px;
  }

  .footer_nav_list li:nth-child(n + 5) {
    margin-bottom: 17px;
  }

  .footer_nav_list li:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}
